<h4>My Heroes</h4>

<form (ngSubmit)="onAdd()" #f="ngForm">
  <div class="input-group mb-3">
    <input
      type="text"
      class="form-control"
      placeholder="Hero Name"
      aria-label="Recipient's username"
      aria-describedby="button-addon2"
      placeholder="name of hero"
      ngModel
      name="addedHero"
      #addedHero="ngModel"
      required
    />

    <button
      class="btn btn-outline-secondary"
      id="button-addon2"
      type="submit"
      [disabled]="!f.valid"
    >
      Add hero
    </button>
  </div>
</form>

<div class="list-group">
  <button
    type="button"
    class="list-group-item list-group-item-action"
    *ngFor="let hero of heroesList"
    [ngStyle]="{
      display: 'flex',
      flexDirection: 'row',
      justifyContent: 'space-between'
    }"
    (click)="navigateToHero(hero.id)"
  >
    <p>{{ hero.id }}- {{ hero.name }}</p>

    <svg
      (click)="onDelete(hero.id)"
      xmlns="http://www.w3.org/2000/svg"
      width="30"
      height="30"
      fill="currentColor"
      class="bi bi-x-square-fill"
      viewBox="0 0 16 16"
    >
      <path
        d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm3.354 4.646L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 1 1 .708-.708z"
      />
    </svg>
  </button>
</div>
